{% extends 'layout.jinja2.html' %}

{% block body %}
<div class="pdforg-header">
	<div class="container">
		<h1> Upload your Document </h1>
	</div>
</div>
<div class="container">
	<form action='{{url_for('upload') }}' method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label for="docTitle">Document Title</label>
			<input id="docTitle" type="text" class="form-control" name="document_title" placeholder="Enter Title">
		</div>
		<div class="form-group">
			<input type="file" class="btn btn-default" name="document_data"> 
		</div>
		<button type="submit" class="btn btn-primary">Upload</button>
	</form>
</div>
<div class="container">
	<form action='{{url_for('scan_dir') }}' method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label for="srcPath">Source Path</label>
			<input id="srcPath" type="text" class="form-control" name="src_path" placeholder="~/">
		</div>
		<button type="submit" class="btn btn-primary">Scan folder</button>
	</form>
</div>
{% endblock %}

